<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <link rel="stylesheet" href="/public/bower_components/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/public/bower_components/semantic/dist/semantic.min.js">
  </head>
  <body>
    <form class="" action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="fileUploaded">
      <input type="submit" value="Upload file">
    </form>
  </body>
</html>
