<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <link rel="stylesheet" href="/public/bower_components/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/public/bower_components/semantic/dist/semantic.min.js">
  </head>
  <body>
    <h1>Blogger</h1>
    <p>A simple prototype application determing the 7 REST calls and 4 CRUD operations with the help of NodeJS,ExpressJS and MongoDB.</p>
  </body>
</html>
